*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav{
	background :#6fd095 ;
	height: 50px;
	width: 100%;
}

label.logo{
	font-weight: bold;
	padding: 0 100px;
	font-size: 35px;
	color: #fdfefe ;
	line-height: 100px;
}

nav ul{
	float: right;
	margin-right: 25px;
}

nav ul li{
	display: inline-block;
	line-height: 90px;
	margin: 0 5px;
}

nav ul li a{
	margin:30px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active,a:hover{
	background: #27542a ;
	transition: .5s;
}

nav .main{
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	top: 50px;
}

nav .main .men_text h1{
	font-size: 50px;
	position: relative;
	color: #e18e1d;
	font-family: sans-seri ;
	top: -40px;
	left: 120px;
}

nav .main .men_text h1 span{
	margin-left: 20px;
	color: #27542a ;
	font-family: mv boli;
	line-height: 30px;
	font-size: 55px;
}

nav .main .main_images img{
	width: 300px;
	height: 300px;
	position: relative;
	left: 300px;
	right: 200x;
	bottom: -30px;
} 

nav p{
	width: 550px;
	text-align: justify;
	position: relative;
	left: 180px;
	bottom: 120px;
	line-height: 22px;
}

.About {
	width: 90%;
	height: 100vh;
	padding: 70px 0;
}

.About .About_main{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.About .About_main .About_text h1 span{
	color: #e18e1d;
	margin-right: 10px;
	margin-left: 50px;
	font-family: sans-seri;
}

.About .About_main .About_text h1{
	font-size: 55px;
	color: #e18e1d;
	font-family: sans-seri;
	position: relative;
	bottom: 50px;
}

.About .About_main .About_text h3{
	font-size: 30px;
	margin: 0 0 10px 0;
	margin-left: 50px;
	color: #27542a ;
}

.About .About_main .About_text p{
	width: 700px;
	text-align: justify;
	margin-right: 70px;
	text-align: 90px;
	height: 50px;
	line-height: 22px;
	top: 5px;
	margin-left: -125px;
	outline: 5px black;
	outline-style: none;
}

.About .About_main .images img{
	width: 350px;
	height: 350px;
	position: relative;
	margin-left: 50px;
	top: 2px;
}

.container {
	margin: 100px 0 0 200px;
	width: 70%;
	height: 450px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.container img{
	width: 10%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	border: 2px solid rgba(225, 225, 225, 0.684);
	transition: all ease in-out 0.5s;
	background-color: #F6CECE;
}

ul.Galeri li a {
		background-color: #F6CECE;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		border-radius: 4px;

.Galeri.Galeri.Galeri_text h3{
	font-size: 30px;
	margin: 0 0 10px 0;
	margin-left: 50px;
	color: #27542a ;
}

.Galeri.Galeri.Galeri_text p{
	width: 700px;
	text-align: justify;
	margin-right: 70px;
	text-align: 90px;
	height: 50px;
	line-height: 22px;
	top: 5px;
	margin-left: -125px;
	outline: 5px black;
	outline-style: none;
}

ul.Galeri li a {
		background-color: #F6CECE;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		border-radius: 4px;
}

ul.Galeri li a:hover {
		background-color: #F6CECE;
}

.Jurnal.Kita td{
	text-align: center;
}